.tom {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 10px;
  outline-style: none;
  border:none;
  border-radius: 3px !important;
  font-size: 12px;
  /*font-family: roboto;*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.tom-ripple>a{
  text-decoration: none;
}

.tom-ripple>a:hover{
  color: white;
    opacity: 1;

}

.tom:active,.tom:focus{
  outline: none;
  border-style: none;
}
.tom:hover{
  cursor: pointer;
    opacity: 1;
}

.tom-ripple{
  padding: 2px;
}

.tom-ripple>.tom:hover{
  margin: -2px;
  padding:7px 12px;
  transition: 0.1s;
}

.tom-ripple>.tom:active{
  margin: 0px;
  padding:5px 10px;
}

.tom-ripple .tom {
  position: relative;
  overflow: hidden;
}
.tom-ripple .tom span {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: ripple 1.5s;
  opacity: 0;
}



@keyframes ripple {
  from {
    opacity: 0.8;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

.tom-gr{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 2px;
}

